---

---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>5P0M - Magnus site</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    <link rel="stylesheet" heref= "/static/stylesheet.css">


</head>

<body> 
    <div>

        <header>
            <h1>5P0M - Magnus site</h1>
        </header>

    </div>

    <div>
        {{ content }}
    </div>
</body>
</html>